@charset "UTF 8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: sans-serif;
}

html{
    background-image: url(./imagens/pexels-marcela-toledo-3242608-5610083.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: rgb(0, 217, 255);
    margin: auto;
    width: 800px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
}

div{
    background-color: rgb(1, 120, 141);
    margin: auto;
    margin-top: -20px;
    margin-left: -20px;
    width: 840px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
    text-align: center;
    font-size: larger;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    height: 20px;
}